body{width:100%;overflow-x:hidden;}

h2{
  text-align:center;
  color: red;
  font-size: 20px;
}
.display{display:flex;}
#bigDiv div{border-bottom:2px solid red;}
#smallDiv div{border-bottom:2px solid red;}
